/** @format */
@font-face {
	font-family: lorula;
	src: url(LaBelleAurore-Regular.ttf);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Gilroy";
}

body,
html {
	height: 100%;
	width: 100%;
	/* scrollbar-color: red yellow; */
}
body::-webkit-scrollbar {
	width: 1em;
}
body::-webkit-scrollbar-track {
	/* display: none; */
	background: #fef3f8;
}
body::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #08fdd8;
	height: 4.5vw;
	/* width: 1vw; */
	border-radius: 2vw;
	outline: 1px solid slategrey;
}
#main {
	overflow: hidden;
	overflow-y: hidden;
}
/* loader */
#loader {
	/* display: none; */
	/* position: absolute; */
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #111;
	color: #fff;
	z-index: 999;
}
#loader #g {
	color: #14cf93;
	font-family: Mazius-Extraitalic;
	font-style: italic;
}
#loader #topheading {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);
}
#topheading h5 {
	text-align: center;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 300;
}

#loader h1 {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4vw;
	font-weight: 500;
	/* background-color: red; */
}

.reveal .parent {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
}
.child span {
	display: inline-block;
}
.reveal .parent .child {
	display: block;
}

::-webkit-scrollbar-thumb {
	background: #14cf93;
}
#green {
	/* display: none; */
	position: absolute;
	top: 100%;
	z-index: 999;
	width: 100%;
	height: 100vh;
	background-color: #14cf93;
}

/* home screen */
#home {
	width: 100%;
	/* height: 230vh; */
	min-height: 170vh;
	background-color: #fcfaf8;
}
/* navbar inside home screen */
#home #nav {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: #14cf93; */
	padding: 0 5vw;
}
#nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	color: #000;
	position: relative;
}
#nav a .line {
	height: 1px;
	background-color: #000;
	display: inline-block;
	position: absolute;
	bottom: -9%;
}

#nav a #line1 {
	width: 0;
	left: 0;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
	transition-delay: 0.1s;
}
#nav a #line2 {
	width: 100%;
	right: 0;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#nav a:hover #line2 {
	width: 0;
}
#nav a:hover #line1 {
	width: 100%;
}
.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #333;
	margin-top: 2vw;
	padding: 0 7vw;
	padding-right: 12vw;
	line-height: 1.2;
}
.row h1 {
	font-size: 12vw;
	font-weight: 500;
}
.row .text {
	margin-top: 0vw;
}
.row h5 {
	opacity: 0.6;
	font-weight: 500;
	font-size: 11px;
}

.row:nth-child(3) {
	margin-top: 0;
}
.row svg {
	height: 8vw;
	margin: 0 2.5vw;
}

path,
polyline {
	stroke: #14cf93;
}

#imagery {
	margin-top: 17vw; /* i have changed this value*/
	width: 100%;
	padding: 0 7vw;
	/* background-color: yellow; */
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 5vw 7vw;
}
#imagery #imglef {
	width: 35%;
	height: auto;
	z-index: 1;
	/* background-color: red; */
}

#imglef h1 {
	font-size: 2.4vw;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333;
	/* white-space: nowrap; */
}

#imglef h1 span {
	color: #14cf93;
	font-family: "Mazius Review 20.09";
	font-style: italic;
	font-weight: 100;
}

#imgrig {
	height: auto;
	width: 60%;
	/* background-color: red; */
	height: 300px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#imgrig .imgcntnr {
	width: 27vw;
	height: 40vw;
	border-radius: 1vw;
	position: absolute;
	z-index: 1;
	/* top: 3%; */
	/* background-color: red; */
	filter: grayscale();
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.4s;
}

#imgrig .imgcntnr:hover {
	filter: grayscale(0);
}

#imgrig .imgcntnr:nth-child(1) {
	transform: translate(-30%, -8%) rotate(-20deg);
	background-image: url(https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);
	background-size: cover;
	background-position: right;
}
#imgrig .imgcntnr:nth-child(2) {
	transform: translate(2%, 0%) rotate(-15deg);
	background-image: url(https://images.unsplash.com/photo-1661928438616-bda8b4931762?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
	background-size: cover;
	background-position: right;
}
#imgrig .imgcntnr:nth-child(3) {
	transform: translate(30%, 10%) rotate(5deg);
	background-image: url(https://images.unsplash.com/photo-1570701564993-e00652af8aa7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
	background-size: cover;
}
/* work div */

#work {
	width: 100%;
	min-height: 100vh;
	background-color: #f2f2f2;
	position: relative;
	padding-top: 15vw;
	transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#work::before {
	content: "";
	width: 100%;
	height: 150px;
	position: absolute;
	background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
	background-size: cover;
	transform: rotate(-180deg);
	top: -75px;
	/* z-index: -2; */
}
#work #help {
	/* padding: 1vw 14vw; */
	padding-left: 14vw;
}
#help svg {
	margin-bottom: 4vw;
	margin-left: -10vw;
}
#help h3 {
	font-size: 1vw;
	opacity: 0.2;
	margin-bottom: 2vw;
}
#help h3 span {
	font-style: italic;
}
#help h1 {
	font-size: 1.96vw;
	font-weight: 400;
	margin-bottom: 8vw;
}
#help #lineu {
	height: 0.1vw;
	width: 95%;
	background-color: #adadad;
	margin-left: 0vw;
	margin-right: 9vw;
	margin-top: 2vw;
	margin-bottom: 13vw;
}
#work .workrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 14vw;
	margin-bottom: 13vw;
}
.workrow h1 {
	display: flex;
	align-items: baseline;
	font-size: 8vw;
	font-weight: 600;
}
.workrow h1 .mini {
	font-size: 2vw;
	margin-left: 4vw;
	font-weight: 500;
}
.workrow h1 span {
	color: #14cf93;
	font-family: Mazius-Extraitalic;
	font-style: italic;
}
.o-ui-arrow path {
	stroke: rgba(158, 158, 158);
}
.workrow .o-ui-arrow {
	transform: rotate(90deg);
	width: 5vw;
}

#home #imgcnt {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	width: 100%;
	padding: 0 5vw;
	margin-bottom: 8vw;
}
#imgdivs .containers {
	overflow: hidden;
	border-radius: 5vw;
}
#imgcnt #cntnr1 {
	width: 55%;
}
#imgdivs .containers img {
	width: 105%;
	transition: filter cubic-bezier(0.19, 1, 0.22, 1) 3s;
}

#imgcnt #cntnr2 img {
	width: 110%;
	/* height: 119%; */
}
#imgcnt #cntnr2 {
	width: 28%;
	align-self: flex-end;
	object-fit: cover;
	object-position: center;
}
#cursor {
	position: absolute;
	width: 17vw;
	top: 0%;
	left: 0%;
	z-index: 999999;
}
#cursor > div {
	/* background-color: red; */
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
	opacity: 0;
	position: absolute;
	pointer-events: none;
}
#elem {
	width: 100%;
	position: relative;
}
#cursor .crow {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	padding: 0.7vw;
}
.crow .ccircle {
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	border: 2px solid #fff;
}
.crow .ccapsule {
	padding: 0.7vw 3vw;
	border-radius: 100px;
	background-color: #fff;
}
#elem img {
	width: 100%;
	opacity: 0;
	animation: an 4s linear infinite;
	position: absolute;
}
#elem img:nth-child(2) {
	animation-delay: 1s;
}
#elem img:nth-child(3) {
	animation-delay: 2s;
}
#elem img:nth-child(4) {
	animation-delay: 3s;
}
#elem img:nth-child(5) {
	animation-delay: 4s;
}

@keyframes an {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	21% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* the code from here maybe faulty */
#home #imgdivs {
	width: 100%;
	padding: 0 5vw;
	margin-bottom: 8vw;
	min-height: 100vh;
	position: relative;
	/* background-color: red; */
}
#imgdivs #mdiv {
	width: 100%;
	overflow: hidden;
	border-radius: 5vw;
	position: relative;
	margin-top: 6vw;
}
#imgdivs #mdiv #cntnr3 {
	margin-left: 23%;
	width: 55%;
	overflow: hidden;
	/* background-color: red; */
	/* object-fit: cover; */
}
#imgdivs #cntnr3 img {
	width: 115%;
}
#home #imgdivs #mdiv #cursor2 {
	width: 17vw;
}

/* work details divs */
#workdetails {
	width: 100%;
	/* background: #000; */
	min-height: 120vh;
	padding: 0 2vw;
	padding-bottom: 9vw;
}
#workdetails .details {
	width: 100%;
	min-height: 90vh;
	display: flex;
	align-items: center;
	/* background-color: #14cf93; */
	justify-content: space-around;
}
#workdetails .details .work {
	width: 40%;
	/* min-height: 40vh; */
	border-radius: 2vw;
	/* margin: 1vw auto; */
	/* background-color: yellow; */
	object-fit: cover;
	/* object-position: center; */
	overflow: hidden;
}
#workdetails .work img {
	width: 110%;
}
#workdetails .details .info {
	width: 30%;
	min-height: 50vh;
	/* background-color: #333; */
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
}
#workdetails .info .caps {
	height: 10vh;
	/* width: 50%; */
	width: fit-content;
	background-color: #fff;
	/* margin: 1vw auto; */
	border-radius: 4vw;
	padding: 1vw 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
#workdetails .info .caps p {
	font-size: 1.5vw;
	font-weight: 700;
	color: #000;
}
/* worksummary */
#worksummary {
	width: 100%;
	min-height: 410vh;
	background-color: #fcfaf8;
	position: relative;
	padding-top: 10vw;
	transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#worksummary::before {
	content: "";
	width: 100%;
	height: 150px;
	position: absolute;
	background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
	background-size: cover;
	transform: rotate(-180deg);
	top: -95px;
	/* z-index: -2; */
}
#worksummary > h1 {
	font-size: 6vw;
	font-weight: 900;
	margin-left: 3vw;
	position: relative;
	z-index: 1;
}
#worksummary #preview {
	min-height: 80vh;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	position: absolute;
	top: 17%;
	left: 0;
	/* background-color: red; */
	z-index: 0;
	padding: 1vw 3vw;
	overflow: hidden;
}
#preview .sumprev {
	/* height: 25vw; */
	overflow: hidden;
	width: 19vw;
	/* background-color: blanchedalmond; */
	object-fit: cover;
	/* object-position: center; */
	border-radius: 3vw;
	height: 70vh;
	transform-origin: 0% 0%;
	transform: rotate(-150deg);
}
#preview .sumprev img {
	width: 130%;
	height: 110%;
}
/* marque effect */
#marque {
	min-height: 270vh;
	/* background-color: red; */
	width: 100%;
	position: absolute;
	top: 40%;
}
#marque #slide1 {
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 7vw 0;
	white-space: nowrap;
}
#slide1::-webkit-scrollbar {
	display: none;
}
#slide2::-webkit-scrollbar {
	display: none;
}
#marque #slide2 {
	overflow-y: hidden;
	padding: 7vw 0;
	overflow-x: scroll;
	white-space: nowrap;
}
#slide2 h1 {
	transform: translate(-200%);
}
#marque #slide1 .d1,
#marque #slide2 .f1 {
	color: transparent;
	-webkit-text-stroke: 2px #adadad;
}
#marque h1 {
	font-size: 2vw;
	text-transform: uppercase;
	cursor: default;
	line-height: 22vh;
	margin: 0vw 0;
}

/* projects section */
#projects {
	min-height: 100vh;
	width: 100%;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10vw;
}
#projects .projrow {
	display: flex;
	flex-wrap: wrap;
	/* background-color: red; */
	transform-origin: 0% 50%;
	padding: 0 4px;
}
#projects .column {
	flex: 25%;
	max-width: 33%;
	padding: 0 4px;
	/* background-color: blue; */
}
#projects .column .proj {
	min-height: 50vh;
	width: 97%;
	margin: 1vw 1vw;
	/* background-color: #f3f3f3; */
	background-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	row-gap: 2vw;
	position: relative;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	/* z-index: 1; */
}
#projects .gree .proj::before {
	content: "";
	position: absolute;
	height: 1%;
	width: 100%;
	top: 0;
	background-color: rgb(173, 29, 115);
	z-index: -1;
}
#projects .re .proj::before {
	content: "";
	position: absolute;
	height: 1%;
	width: 100%;
	top: 0;
	background-color: rgb(42, 197, 208);
	z-index: -1;
}
#projects .ble .proj::before {
	content: "";
	position: absolute;
	height: 1%;
	width: 100%;
	top: 0;
	background-color: rgb(234, 215, 47);
	z-index: -1;
}
#projects .pin .proj::before {
	content: "";
	position: absolute;
	height: 1%;
	width: 100%;
	top: 0;
	background-color: rgb(31, 205, 153);
	z-index: -1;
}

.projrow .proj h1 {
	width: 40%;
	white-space: nowrap;
	font-size: 1.3vw;
	color: red;
	font-family: Gilroy;
	margin-left: 1vw;
}
.projrow .proj h2 {
	width: 100%;
	font-size: 2.5vw;
	color: rgb(121 69 93);
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
	margin-left: 1vw;
}
.projrow .proj h2:hover {
	color: #08fdd8;
}
.projrow .proj p {
	width: 80%;
	columns: #6a5964;
	font-size: 1.2vw;
	margin-left: 1vw;
}

/* contact div */
#contactdet {
	min-height: 180vh;
	width: 100%;
	/* background-color: red; */
	display: flex;
	margin-top: 8vw;
}
/* contact form */
#contactdet #form {
	width: 100%;
	height: 180vh;
	/* background-color: blue; */
	position: relative;
	/* padding: 0 1vw; */
}
#form h1 {
	font-size: 13rem;
	margin-top: 2vw;
	line-height: 1.4;
	/* background-color: red; */
	display: flex;
	text-align: center;
	justify-content: center;
	height: fit-content;
	letter-spacing: 0.4vw;
	font-family: lorula;
	margin-bottom: 0;
}
#form p {
	font-size: 1.3rem;
	position: absolute;
	top: 33%;
	left: 43%;
	transform: translate(-50%, -50%);
	width: 70%;
	text-align: start;
	font-family: Gilroy;
}
#form input {
	margin-top: 9vw;
	background-color: #b4b4b4;
	border: 0.13vw solid #08fdd8;
	padding: 2vw 2.3vw;
	display: inline-block;
	/* margin: 0 auto; */
	/* border: none; */
	outline: none;
	/* border-left: none; */
	/* border-right: none; */
	transform: skew(-2deg);
}
#form #name {
	margin-top: 11vw;
	width: 48%;
	margin-right: 0.4vw;
	font-size: 1.5rem;
	margin-left: 1vw;
}
#form #email {
	margin-top: 11vw;
	width: 48%;
	font-size: 1.5rem;
}
#form #number {
	margin-top: 1vw;
	width: 98%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.7vw;
}
#form #message {
	margin-top: 1vw;
	width: 98%;
	margin-left: auto;
	display: block;
	margin-right: auto;
	height: 40vh;
	font-size: 2vw;
	/* white-space: wrap; */
	padding: 0vw 0.7vw;
	background-color: #b4b4b4;
	border: 0.13vw solid #08fdd8;
}
#form #message::placeholder {
	font-size: 4vw;
	font-weight: 600;
	color: #fcfcfc;
	opacity: 1;
}

#form #submit {
	width: 30%;
	height: 15vh;
	margin-top: 1vw;
	display: block;
	color: #000;
	background-color: transparent;
	margin: 1vw 1vw 1vw auto;
	position: relative;
	font-size: 2rem;
}

#form #submit:hover {
	background-color: #08fdd8;
}
/* footer */
#footer {
	height: 100vh;
	overflow: hidden;
	width: 100%;
	background-color: #253b39;
	/* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5700, 0, 1); */
	position: relative;
	/* bottom: 0; */
	/* background-color: red; */
}
#footer #circle {
	height: 50vw;
	width: 45vw;
	/* background-color: red; */
	border-radius: 50%;
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	transform-origin: 50% 50%;
	overflow: hidden;
	transform: translate(-50%, -50%) scaleX(1.4);
}
#footer #circle #ftop {
	background: linear-gradient(to bottom, #6e7c7b, transparent);
	width: 100%;
	height: 55%;
	/* background-color: #6e7c7b; */
	/* background-color: #08fdd8; */
}
#footer #circle #fbtm {
	width: 100%;
	height: 45%;
	/* background-color: transparent; */
	/* background: linear-gradient(to bottom, #6e7c7b, transparent); */
}
#footxt {
	/* height: 40vh; */
	width: 60%;
	margin: 2vw auto;
	/* background-color: #fff; */
	font-size: 4vw;
	font-weight: 900;
	text-align: center;
	line-height: 1.3;
	color: #fcfcfc;
}
#footer #footxt h1 {
	font-size: 5vw;
	font-weight: 900;
	transform-origin: 50% 50%;
	transform: rotateX(-90deg);
}
#footer #footxt h2 {
	font-size: 5.2vw;
	font-weight: 900;
	transform-origin: 50% 50%;
	transform: rotateX(-90deg);
}
#footer #footxt h3 {
	font-size: 5.5vw;
	font-weight: 900;
	transform-origin: 50% 50%;
	transform: rotateX(-90deg);
}
#socials {
	width: 100%;
	padding: 1vw 3vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	/* background-color: #08fdd8; */
	bottom: 10%;
	z-index: 3;
}
#socials .socialcard {
	height: 20vh;
	width: 22%;
	/* background-color: yellow; */
	position: relative;
	transition: 0.6s cubic-bezier(0, 0.89, 0.41, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0vw;
}
#socials .socialcard .name {
	font-size: 2.6vw;
	font-weight: 600;
}
#socials .socialcard .name h1 {
	font-size: 2.7vw;
	color: #fef3f8;
}
#socials .socialcard .name p {
	font-size: 1.3vw;
	color: #fcfcfc;
}
#socials .socialcard .iconcnt {
	height: 4.2vw;
	width: 4.2vw;
	border-radius: 50%;
	background-color: #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: center;
}
#socials .socialcard .iconcnt i {
	font-size: 1.9vw;
	font-weight: 800;
	/* color: #08fdd8; */
	color: #222;
}
#socials .socialcard .sover {
	position: absolute;
	height: 1.7%;
	width: 100%;
	top: 0;
	background-color: #08fdd8;
	z-index: 3;
}
#socials .socialcard:hover {
	animation-name: padd;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	animation-fill-mode: forwards;
}
#socials .socialcard:hover .sover {
	z-index: -1;
	animation-name: bgfull;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	animation-fill-mode: forwards;
}
@keyframes padd {
	0% {
		justify-content: space-between;
		/* padding: 0 0vw; */
	}
	100% {
		justify-content: space-evenly;
		/* padding: 0 2vw; */
	}
}
@keyframes bgfull {
	0% {
		height: 1.7%;
	}
	100% {
		height: 100%;
	}
}

/* meadia query */

/* for width 989px */
@media (max-width: 989px) {
	/* workdetails */
	#workdetails {
		min-height: 100vh;
	}
	#workdetails .details {
		min-height: 80vh;
		justify-content: space-evenly;
	}
	#workdetails .details .work {
		width: 55%;
	}
	#workdetails .work img {
		width: 105%;
	}
	#workdetails .info .caps {
		background-color: #fff;
		padding: 1vw 2.3vw;
	}
	#workdetails .info .caps p {
		font-size: 1.8vw;
	}
	/* worksummary */
	#worksummary {
		/* background-color: #dadafa; */
		padding-top: 22vw;
	}
	#preview .sumprev {
		/* height: 25vw; */
		overflow: hidden;
		width: 19vw;
		min-height: 70vh;
	}
	#preview .sumprev img {
		width: 130%;
		/* height: 110%; */
		min-height: 105%;
	}
}

/* max width 800px */
@media (max-width: 800px) {
	#projects .column {
		flex: 50%;
		max-width: 65%;
	}
	/* workrow */
	#worksummary #preview {
		top: 14%;
	}
	/* projects div */
	#projects .projrow .proj {
		row-gap: 2.3vw;
	}
	#projects .projrow .proj h1 {
		font-size: 2.6vw;
	}
	#projects .projrow .proj h2 {
		font-size: 4vw;
	}
	#projects .projrow .proj p {
		font-size: 2vw;
	}
}
/* max width 729px for contacts div */
@media (max-width: 729px) {
	#contactdet {
		min-height: 160vh;
		margin-top: 10vw;
	}
	/* contact form */
	#contactdet #form {
		height: 160vh;
	}
	#form h1 {
		font-size: 27vw;
		margin-bottom: 8vw;
	}
	#form p {
		font-size: 3vw;
		top: 33%;
		width: 75%;
	}
	#form input {
		margin-top: 10vw;
		background: linear-gradient(to bottom, #6e7c7b, transparent);
		transform: skew(0deg);
	}
	#form #message::placeholder {
		font-size: 5vw;
	}
	/* workpreview div */
	#worksummary {
		min-height: 520vh;
	}
	#worksummary #preview {
		min-height: 120vh;
		flex-direction: column;
		row-gap: 3vw;
		top: 9%;
	}
	#preview .sumprev {
		width: 98%;
		border-radius: 3vw;
		max-height: 35vh;
	}
	#preview .sumprev img {
		width: 130%;
		height: auto;
	}
	/* marque effect */
	#marque {
		min-height: 270vh;
		top: 66%;
	}
	/* footer */
	#footer {
		height: 80vh;
	}
}
@media (max-width: 640px) {
	#footer #circle {
		height: 55vw;
		width: 50vw;
		top: -10%;
	}
	/* fprm ke andar message */
	#form #message {
		margin-top: 1.3vw;
		width: 98%;
		margin-left: auto;
		display: block;
		margin-right: auto;
		height: 40vh;
		font-size: 4vw;
		/* white-space: wrap; */
		padding: 0vw 0.7vw;
		overflow-wrap: break-word;
	}
}
/* max width 600px */
@media (max-width: 600px) {
	#projects .column {
		flex: 100%;
		max-width: 100%;
	}
	/* projects div */
	#projects .projrow .proj {
		row-gap: 3vw;
	}
	#projects .projrow .proj h1 {
		font-size: 3.6vw;
	}
	#projects .projrow .proj h2 {
		font-size: 6vw;
	}
	#projects .projrow .proj p {
		font-size: 2.4vw;
	}
	/* contact form */

	#contactdet #form p {
		font-size: 3vw;
		top: 23%;
	}
	/* footer */
	#footer {
		height: 50vh;
	}
	#socials .socialcard {
		height: 10vh;
		width: 20%;
		padding: 0 0vw;
	}
	#socials .socialcard .name h1 {
		font-size: 2.6vw;
	}
	#socials .socialcard .name p {
		font-size: 1.7vw;
	}
	#socials .socialcard .iconcnt i {
		font-size: 3.3vw;
		font-weight: 900;
	}
	/* work details divs */
	#workdetails {
		min-height: 150vh;
		padding: 0 2vw;
		padding-bottom: 9vw;
	}
	#workdetails .details {
		flex-direction: column;
		padding-bottom: 4vw;
		border-bottom: 0.2vw solid #fcfcfc;
		align-items: flex-start;
		padding-left: 4vw;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		margin-bottom: 2vw;
	}
	#workdetails .details .work {
		width: 85%;
		border-radius: 3vw;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	}
	#workdetails .work img {
		width: 105%;
	}
	#workdetails .details .info {
		width: 70%;
		min-height: 40vh;
		/* background-color: #333; */
		padding-left: 1vw;
	}
	#workdetails .info .caps {
		height: 9vh;
		border-radius: 4.4vw;
		padding: 1.3vw 5vw;
	}
	#workdetails .info .caps p {
		font-size: 3vw;
	}
}

@media (max-width: 510px) {
	/* contact form */
	#contactdet #form p {
		font-size: 3vw;
		top: 22%;
	}
	/* footer */
	#footer {
		height: 40vh;
	}
	#footer #circle {
		height: 55vw;
		width: 50vw;
		top: -47%;
	}
	#socials .socialcard {
		height: 10vh;
		width: 20%;
		padding: 0 0vw;
	}
	#socials .socialcard .name h1 {
		font-size: 2.6vw;
	}
	#socials .socialcard .name p {
		font-size: 1.7vw;
	}
	#socials .socialcard .iconcnt i {
		font-size: 3.3vw;
		font-weight: 900;
	}
}

/* max-width less than 450 px */
@media (max-width: 450px) {
	/* projects div */
	#projects .projrow .proj {
		row-gap: 3.6vw;
	}
	#projects .projrow .proj h1 {
		font-size: 4.3vw;
	}
	#projects .projrow .proj h2 {
		font-size: 7.4vw;
	}
	#projects .projrow .proj p {
		font-size: 3.2vw;
	}
	/* contact form */
	#contactdet #form p {
		font-size: 3vw;
		top: 20%;
	}
	/* worksummary */
	#worksummary {
		min-height: 410vh;
	}
	#worksummary #preview {
		min-height: 120vh;
		flex-direction: column;
		row-gap: 3vw;
		top: 8%;
	}
	#preview .sumprev {
		width: 98%;
		border-radius: 3vw;
		max-height: 35vh;
	}
	#preview .sumprev img {
		width: 130%;
		height: auto;
	}
	/* marque effect */
	#marque {
		min-height: 90vh;
		top: 81%;
	}
	#marque #slide1 {
		overflow-y: hidden;
		overflow-x: scroll;
		padding: 1vw 0;
	}
	#marque #slide2 {
		overflow-y: hidden;
		padding: 0.5vw 0;
	}
	#marque #slide1 .d1,
	#marque #slide2 .f1 {
		color: transparent;
		-webkit-text-stroke: 3px #adadad;
	}
	#marque h1 {
		font-size: 29vw;
		line-height: 18vh;
	}
	/* work details */
	#workdetails .info .caps p {
		font-size: 5vw;
	}
	#workdetails .details .info {
		width: 100%;
		min-height: 40vh;
		/* background-color: #333; */
		padding-left: 1vw;
	}
	/* submit button */
	#form #submit {
		width: 70vw;
		height: 17vh;
		margin-top: 1.5vw;
		display: block;
		color: #111;
		background-color: transparent;
		margin: 1vw 1.9vw 1vw auto;
		position: relative;
		font-size: 11vw;
		padding: 2vw 10vw;
	}
}
/* max-width less than 370 px */
@media (max-width: 370px) {
	/* contact form */
	#contactdet #form p {
		font-size: 3vw;
		top: 16.5%;
		width: 80%;
		/* left: 10%; */
	}
}
/* max-width less than 300 px */
@media (max-width: 300px) {
	/* contact form */
	#contactdet #form p {
		font-size: 3vw;
		display: none;
		top: 12%;
	}
}
@media (max-width: 220px) {
	/* contact form */
	#contactdet #form p {
		font-size: 3vw;
		top: 9%;
	}
}
